.auth_div{
  display: flex;
  flex-flow: column nowrap;
  max-width: 300px;
  max-height: 300px;
  gap: 10px;
  padding: 30px;
  border-radius: 10px;
}

.blackShadow{
  box-shadow: 0px 0px 30px gray;
  transition: 0.2s ease;
}

.redShadow{
  box-shadow: 0px 0px 30px crimson;
  transition: 0.2s ease;
}